body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 600px;
  border: 1px solid #000;
  /* these three lines helped me to create a functional grid layout */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.square {
  background-color: white;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
